<div class = "form-container">
<h1> Sign up!</h1>

<p> Sign up below to get access to the our amazing database of qualified professionals</p>
<%= render 'form', user: @user %><br>

<%= link_to 'Back', users_path %><br>

</div>


