<div>
<div class="page-container" >
<div class = "page-header">
    <h1>Join Below!</h1>
<h3> Sign up below to get access to the our amazing database of qualified professionals</h3>
</div>
</div>

<%= render 'form', user: @user %><br>

<%= link_to 'Back', users_path %><br>


</div>


