<p id="notice"><%= notice %></p>
<div class= "answercontainer">
<p>
Thank you for submitting your answer
</p>

<%link_to 'Edit', edit_answer_path(@answer) %> 
<p><%= link_to 'See more teams!', teams_path %></p> 

</div>


