.login-container{

    color: black;
        
    // border-style: solid;
     display: flex;
    justify-content: center;
    align-items : stretch
    
    }
    .login-form{
        
    border: 1px solid rgb(17, 16, 16);
    width: 300px;
    background-color: white;
    height: 300px;
    margin: center;
    
    }
    
    form{
    text-align:center;
        
    }

    h1, h2, h3, p{
        text-align:center;
        color: black ;

    }

    .page-header{

        background-color: white;
        border-style: solid;
        margin-bottom: 30px;
        margin-top: 50px;

    }


input{
    border-style: 0.5px solid;
}