.login-container{

    color: black;
        
    // border-style: solid;
     display: flex;
    justify-content: center;
    align-items : stretch
    
    }
    .login-form{
        
    border: 1px solid rgb(17, 16, 16);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 400px;
    margin: center;
    
    }
    
    form{
    text-align:center;
        
    }

    h1, h2, h3, p, image {
        text-align:center;
        color: black ;

    }
.page-container{
    // color: black;
        
    // // border-style: solid;
    //  display: flex;
    // justify-content: center;
    // align-items : stretch;

    width: 400px;
    margin-left: auto ;
    margin-right: auto;

}
    .page-header{

        background-color: rgba(255, 255, 255,0.8);
        border: 1px solid rgb(17, 16, 16);
        margin-bottom: 30px;
        margin-top: 50px;
        border-radius: 4px;
        padding: 2px;

    }


input{
    border-style: 0.5px solid;
}




